
.home-page {
  padding-top: 80px; /* Ensures it clears the navbar */

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .category-link {
    text-decoration: none;
    margin: 20px;
  }

  .category-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
      color: #333;
    }

    img {
      width: 150px;
      height: 150px;
      object-fit: contain; /* Ensures the image fits within the set dimensions without cropping */
      background-color: #f4f4f4; /* Adds a background color to fill any empty space */
    }
  }
}
